<template>
  <div class="flex w-full mt-2 space-x-3 max-w-xs" :class="{'self-end': isOwnMessage}">
    <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
    <div>
      <span class="font-bold text-xs">{{ message.owner.first_name + ' ' + message.owner.last_name }}</span>
      <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg" :class="{'bg-blue-600 text-white': isOwnMessage}">
        <p class="text-sm m-0">{{ message.body }}</p>
      </div>
      <span class="text-xs text-gray-500 leading-none">{{ message.created_at }}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: "ChatMessage",
  props: {
    isOwnMessage: {
      type: Boolean,
      default: false
    },
    message: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>