<template>
  <div class="flex flex-col flex-grow w-full bg-white shadow-xl rounded-lg overflow-auto">
    <chat-message
        v-for="(message, idx) in messagesList"
        :message="message"
        :key="idx"
        :is-own-message="me.id === message.owner_id"
    />
  </div>
</template>

<script>
import ChatMessage from "@/components/Chat/ChatMessage";
import {mapState} from "vuex";

export default {
  name: "ChatList",
  components: {ChatMessage},
  props: {
    messagesList: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapState('auth', ['me'])
  }
}
</script>

<style scoped>

</style>