<template>
  <div class="min-h-screen">
    <select class="form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      mb-4
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example"
      v-model="receiver"
    >
      <option selected>Select the user</option>
      <option :value="user.id" v-for="(user, idx) in usersList" :key="idx">
        {{ user.first_name + ' ' + user.last_name }}
      </option>
    </select>
    <button type="button"
            @click="startChat"
            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
      Start chat
    </button>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: 'IndexPage',
  data() {
    return {
      loading: false,
      receiver: null,
      usersList: []
    }
  },
  mounted() {
    this.getUsersList()
  },
  computed: {
    ...mapState('chat', ['room']),
  },
  methods: {
    startChat() {
      this.$router.push({
        name: 'chat-page',
        params: {
          room_uuid: this.room.uuid,
          user_id: this.receiver
        }
      })
    },
    getUsersList() {
      this.loading = true
      this.$axios.get('/auth/users/').then(res => {
        this.usersList = res.data.items
      }).finally(() => this.loading = false);
    }
  }
}
</script>

<style scoped>

</style>