<template>
  <div class="relative overflow-hidden">
    <chat-list
        @scroll.native="onScrollTop"
        ref="messages"
        class="max-height-custom mb-24"
        v-chat-scroll="{
          always: false,
          scrollonremoved: true,
          smoothonremoved: false
        }"
        :messages-list="messageList"
    />
    <div class="absolute flex px-5 py-6 bottom-0 left-0 right-0 bg-gray-200">
      <div class="flex-1">
        <label>
          <input
              v-model="message"
              @keypress.enter.prevent="sendMessage"
              type="text"
              class="bg-gray-50 w-full z-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required>
        </label>
      </div>
      <button
          @click="copyLink"
          type="button"
          class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
      >
        Copy chat link
      </button>
    </div>
  </div>
</template>

<script>
import ChatList from "@/components/Chat/ChatList";
import WsChat from "@/plugins/WsChat";
import {mapState} from "vuex";

export default {
  name: "ChatRoom",
  components: {ChatList},
  data() {
    return {
      messageList: [],
      loading: false,
      message: '',
      totalPages: 0,
      ws: null,
      pagination: {
        page: 1,
        total: 0,
        size: 0,
      },
    }
  },
  mounted() {
    this.getMessageListAction()
    this.checkScrollDown()
    this.initWs()
  },
  computed: {
    ...mapState('auth', ['me']),
    roomUUID() {
      return this.$route.params.room_uuid
    },
    userId() {
      return this.$route.params.user_id
    },
  },
  methods: {
    initWs() {
      const {roomUUID, userId} = this
      this.ws = new WsChat(roomUUID, userId)
      this.ws.onmessage = ({data}) => {
        const message = JSON.parse(data)
        this.messageList = [...this.messageList, JSON.parse(data)]
        if (message.receiver_id === this.me.id) {
          this.$axios.post(`/chat/messages/${message.id}/set-read`)
        }
      }
      this.$on('destroyed', () => this.ws.close())
    },
    sendMessage() {
      this.ws.send(this.message)
      this.message = '';
    },
    onScrollTop(e) {
      if (e.target.scrollTop === 0) {
        if (this.pagination.page === this.totalPages) return
        if (this.pagination.page < this.totalPages) {
          this.pagination.page += 1
        }
        this.getMessageListAction({
          page: this.pagination.page
        });
      }
    },
    checkScrollDown() {
      const checkScrollBottom = () => {
        this.$nextTick(() => {
          const {messages} = this.$refs;
          if (messages) {
            const scrollHeight = messages.$el.scrollHeight;
            const height = messages.$el.clientHeight;
            const maxScrollTop = scrollHeight - height;
            this.$refs.messages.$el.scrollTop =
                maxScrollTop > 0 ? maxScrollTop : 0;
          }
        });
      }
      const timeout = setTimeout(checkScrollBottom, 2000)
      this.$on('destroyed', () => clearTimeout(timeout))
    },
    getMessageListAction(params) {
      this.loading = true
      this.$axios.get(`/chat/messages/${this.roomUUID}`, {params}).then(res => {
        const {items, ...pagination} = res.data
        if (params) {
          this.messageList = [...items.reverse(), ...this.messageList]
        } else {
          this.messageList = items.reverse()
        }
        this.pagination = pagination
        this.totalPages = Math.ceil(pagination.total / pagination.size)
      }).finally(() => this.loading = false);
    },
    copyLink() {
      navigator.clipboard.writeText(`http://localhost:8080/chat/${this.$route.params.room_uuid}/${this.me.id}`);
    }
  }
}
</script>

<style lang="scss">
.max-height-custom {
  max-height: calc(100vh - theme('spacing.24'))
}
</style>